*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-snap-type:y mandatory;
scroll-behavior:smooth;
}

body{
font-family:Arial;
overflow-x:hidden;
color:white;
background:black;
}

/* Loader */
#loader{
position:fixed;
width:100%;
height:100vh;
background:black;
display:flex;
justify-content:center;
align-items:center;
z-index:1000;
}

/* Progress */
#progress{
position:fixed;
top:0;
height:4px;
width:0%;
background:cyan;
z-index:999;
}

/* Sections */
.section{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
scroll-snap-align:start;
position:relative;
}

.section::before{
content:"";
position:absolute;
width:100%;
height:100%;
background:rgba(0,0,0,0.3);
top:0;
left:0;
}

.section *{
position:relative;
z-index:2;
}

.hero{
background: radial-gradient(circle,#0f172a,black);
}

.learning{background:#1e293b;}
.struggle{background:#7f1d1d;}
.growth{background:#1d4ed8;}
.reality{background:#3f3f46;}
.success{background:#065f46;}

h1{
font-size:3rem;
margin-bottom:15px;
}

.title{
font-size:3.5rem;
text-shadow:0 0 20px cyan;
}

.text{
font-size:1.2rem;
opacity:0;
transform:translateY(30px);
}

/* Button */
button{
padding:10px 20px;
border:none;
border-radius:5px;
cursor:pointer;
margin-top:10px;
}

button:hover{
background:yellow;
transform:scale(1.1);
}